<!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="noo-sh-title">About Me</h2>
                    <h5>Helloo My name is Ingwer Ludwig, born in Bandung and live at Cimahi Regional . Last 2 month, I decided to learn about Web Development especially at JavaScript, HTML, and CSS. Currently, I study at Sepuluh Nopember Institute of Technology, Department of Informatics that well-knowing to Computer Science. When I graduate, I want to become Back-End Engineer or Data Engineer or Web Developer. I wish I make my dreams come true with all my friends when the time will come :&#41;</h5>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-thumbnail img-fluid" src="image/pasfoto.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <h5>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <h5>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
