<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="../public/css/custom.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
{{!-- <link rel="stylesheet" href="css/normalize.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css"> --}}
{{!-- <link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/templatemo-misc.css"> --}}
{{!-- <link rel="stylesheet" href="css/templatemo-style.css"> --}}

<form class="button">
    <input type="button" value="Back" onclick="history.back()">
</form>
<div class="content-section">
        <div class="container">
          
            <div class="row">
                <div class="col-md-12 section-title">
                    <h2>Search Result</h2>
                </div> <!-- /.section -->
            </div> <!-- /.row -->

            <div class="row">
            {{#each newObj}}
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="product-thumb">
                            <img src={{this.thumbnail.thumbnailUrl}} alt="">
                        </div> <!-- /.product-thum -->
                        <div class="product-content">
                            <h5><a href={{this.thumbnail.thumbnailUrl}}>{{this.text}}</a></h5>
                        </div> <!-- /.product-content -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
            {{/each}}

            </div> <!-- /.row -->

        </div> <!-- /.container -->
  </div> <!-- /.content-section -->